{% extends "banking_templates/base.html" %}
{% block content %}
{% load static %}
{% if request.user.is_staff %}
    <p>You are logged in as PayLater employee.</p>
{% endif %}


        <hr />
        <h3>Customers</h3>
        <label for="CustomerName2">Search for customer</label>
        <input
                type="text"
                name="CustomerName"
                placeholder="Customer name; customer phone number; customer id"
                id="CustomerName2"
                />
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Email</th>
                    <th>Phone number</th>
                    <th>Ranking</th>
                    <th>Accounts</th>
            </thead>
                </tr>
                <tbody>
                    {% for user in all_users %}
                    {% for customer in all_customers %}
                    {% if customer.pk == user.pk %}
                    <tr class="user">
                        <td>{{ user.username }}</td>
                        <td>{{ user.first_name }}</td>
                        <td>{{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ customer.phone_number }}</td>
                        <td>
                            <form action="{% url 'banking_app:change_ranking' user.pk %}" method="POST">
                                {% csrf_token %}
                                <select name="ranking" id="ranking">
                                    <option {% if 'B' in customer.ranking %} selected {% endif %} value="Basic">⭕ Basic</option>
                                    <option {% if 'S' in customer.ranking %} selected {% endif %} value="Silver">⚪ Silver</option>
                                    <option {% if 'G' in customer.ranking %} selected {% endif %} value="Gold">🟡 GOLD</option>
                                </select>
                                <button type="submit">Update</button>
                            </form>
                        </td>
                        <td>
                    {% for account in all_accounts %}
                    {% if account.user == customer %}
                        <a href="{% url 'banking_app:view_transactions' account.account_id  %}">{{ account.account_id }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                        {% endif %}
                        {% endfor %}
                    </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                    <tbody>
        </table>
        {% endblock %}