<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="https://classless.de/classless.css" />
		<title>PayLater Bank</title>
	</head>
	<body>
		<style>
			:root {
				--width: 60vw;
			}
			.footer {
				position: relative;
				height: 2.5rem;
				clear: both;
				bottom: 0;

				display: flex;
				justify-content: center;
				background-color: "#000";
			}
			[class*="messages-"]{
				margin-left: auto;
				margin-right: auto;
				width: 50%;
			}

			[class*="-error"]{
				color: red;
			}
			[class*="-success"]{
				color: green;

			}
		</style>

		<nav class="row">
			<ul>
				{% if request.user.is_authenticated %}
				<li><a href="{% url 'banking_app:index' %}">Home</a></li>
				{% if request.user.is_staff %}
				<li
					><a href="{% url 'banking_app:staff_home' %}">Go to Staff view</a></li
				>
				<li
					><a href="{% url 'banking_app:all_customers' %}"
						>View all users</a
					></li
				>
				{% endif %} {% if request.user.is_staff == False %}
				<li
					><a href="{% url 'banking_app:my-accounts' request.user.pk %}"
						>My accounts</a
					></li
				>
				{% endif %}
			</ul>
			<ul>
				<li><a class="float-left" href="{% url 'logout' %}">Log out</a></li>
				{% else %}
				<li><a class="float-left" href="{% url 'login' %}">Log in</a></li>
				{% endif %}
			</ul>
		</nav>

		{% if request.user.is_authenticated %}
		<h1>Welcome back {{request.user.first_name}} {{request.user.last_name}}</h1>
		{% else %}
		<h1>Welcome to PayLater bank</h1>
		{% endif %} {% block content %} {% endblock %} {% block footer %}
		<footer class="footer"> <p>Copyright © {{year}} PayLater Bank</p></footer>
		{% endblock %}
	</body>
</html>
