<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://classless.de/classless.css">
   <title>PayLater Bank Staff page</title>
</head>
<body>
   {% if user.is_authenticated %}
   <h1>Welcome back {{ user }}</h1>
   <nav>
       <a href="{% url 'logout' %}">Log out</a>
   </nav>
   {% endif %}
   {% if user.is_staff %}
   <p>You are logged in as staff</p>
   {% endif %}

   <hr />


</body>
</html>
