{% extends "banking_templates/base.html" %}
{% block content %}
{% load static %}

        {% if request.user.is_staff %}
        <p>You are logged in as PayLater employee: {{ user }}</p>
        {% endif %}
        <hr />
        <div class="row">
            <fieldset style="margin-right: 2rem;">
                <legend>Create a Customer</legend>
                <form action="{% url 'banking_app:create_user' %}" method="POST">
                    {% csrf_token %}
                    <label for="username">User's username</label>
                    <input type="text" name="username" id="username" placeholder="Choose a username" />
                    <label for="first_name">First name</label>
                    <input type="text" name="first_name" id="first_name" placeholder="Your first name" />
                    <label for="last_name">Last name</label>
                    <input type="text" name="last_name" id="last_name" placeholder="Your last name" />
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" placeholder="Write your email" />
                    <label for="phone_number">Phone number</label>
                    <input type="tel" name="phone_number" id="phone_number" placeholder="Write your phone number" />
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" placeholder="Write your password" />
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Re-enter your password" />
                    <label for="ranking">Choose a rank</label>
                    <select name="ranking" id="ranking">
                        <option value="Basic">⭕ Basic</option>
                        <option value="Silver">⚪ Silver</option>
                        <option value="Gold">🟡 GOLD</option>
                    </select>
                    <p>Status: <span>{{ message }}</span></p>
                    <button type="submit">Submit user</button>
                    <button type="reset">Clear fields</button>
                </form>
            </fieldset>
            <fieldset style="margin-left: 2rem;">
                <legend>Create an account for a customer</legend>
                <form method="POST" action="{% url 'banking_app:create_account' %}">
                    {% csrf_token %}
                    <label for="CustomerName2">Search for customer</label>
                    <input type="text" name="CustomerName" id="CustomerName2" />
                    <label for="pk">Customer name</label>
                    <select name="pk" id="pk" placeholder="Customer name; customer phone number; customer id">
                        {% for user in all_users %} {% for customer in all_customers %} {% if customer.pk == user.pk %}
                        <option value={{ user.pk }}>{{ user.username }}</option>
                        {% endif %} {% endfor %} {% endfor %}
                    </select>
                    <label for="AccountName">Account name</label>
                    <input type="text" name="AccountName" placeholder="Account name" id="AccountName" />

                    <label for="loan"> User is requesting a loan</label>
                    <input onchange="updateItSaLoan(this)" type="checkbox" id="loan" name="loan" value="true">
                    <div id="insertLoanedAmount"></div>

                    <button type="submit">Create the account</button>
                </form>
            </fieldset>
        </div>
        <script>
            function updateItSaLoan(element){
            if(element.checked){
                insertLoanedAmount.insertAdjacentHTML("afterend",`
            <label id="loanedLabel" data-remove for="loaned">Amount to loan</label>
            <input placeholder="Amount 0.0$" data-remove type="number" id="loaned" min="1" name="Amount" >`)
            const number = document.getElementById('loaned');
            number.onkeydown = function(e) {
                if(!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || e.keyCode == 8)) {
                    return false;}}
            }
            else{
                const remove = document.querySelectorAll("[data-remove]")
                console.log(remove)
                remove.forEach(e=>{
                    e.remove()
                })
            }}
        </script>
   {% endblock %}