{% extends "banking_templates/base.html" %}
{% block content %}
{% load static %}
        {% if request.user.is_authenticated %}
        <br>
        <h2>Your accounts</h2>
        <hr><br>
        <div class="row">
            <div class="col">
                <a>Make a transaction</a>
            </div>
            <div class="col">
                <a>Request a new loan</a>
            </div>
        </div>
        <hr>

        <h3>Accounts</h3>
        {% for account in user_accounts %}
        {% if account.is_loan == False %}
        {% include "banking_templates/accounts_cards.html" %} 
        {% endif %}
        {% endfor %}

        <h3>Loans</h3>
        {% for account in user_accounts %}
        {% if account.is_loan == True %}
        {% include "banking_templates/accounts_cards.html" %} 
        {% endif %}
        {% endfor %}
        {% endif %}
        {% endblock %}
