{% extends "banking_templates/base.html" %} {% block content %} {% load static
%} {% if request.user.is_authenticated %}
<br />
<h2>Your profile</h2>
<hr /><br />
<div class="row">
	<div class="col">
		{% if customer_info.ranking == 'B' %}
		<p>Basic</p>
		{% endif %} {% if customer_info.ranking == 'S' %}
		<p>Silver</p>
		{% endif %} {% if customer_info.ranking == 'G' %}
		<p>Gold</p>
		{% endif %}
	</div>
	<div class="col"
		><p>You need to have Silver or Gold profile ranking to request a loan</p>
		<a href="#" target="self">Request a new loan</a>
	</div>
</div>
<br />
<hr />

<h3>Accounts</h3>
{% for account in user_accounts %} 
{% if account.is_loan == False %} 
{% include "banking_templates/accounts_cards.html" %} 
{% endif %} 
{% endfor %}

<h3>Loans</h3>
{% for account in user_accounts %} 
{% if account.is_loan == True %} 
{% include "banking_templates/accounts_cards.html" %} 
{% endif %} 
{% endfor %} 

{% endif %}
{% endblock %}
