
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://classless.de/classless.css" />
        <title>PayLater Bank My accounts</title>
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <h1>Welcome back {{ user }}</h1>
        <nav>
            <a href="{% url 'logout' %}">Log out</a>
        </nav>


     
       

        <h2>Your accounts</h2>
           
        <hr><br>

        <div class="row">
            <div class="col">
                <a>Make a transaction</a>
            </div>
            <div class="col">
                <a>Request a new loan</a>
            </div>
        </div>

        <hr>

        <h3>Accounts</h3>
        {% for account in user_accounts %}
        {% if account.is_loan == False %}
        {% include "banking_templates/accounts_cards.html" %} 
        {% endif %}
        {% endfor %}

        <h3>Loans</h3>
        {% for account in user_accounts %}
        {% if account.is_loan == True %}
        {% include "banking_templates/accounts_cards.html" %} 
        {% endif %}
        {% endfor %}

        {% endif %}

    </body>
</html>
