{% extends "banking_templates/base.html" %}
{% load custom_tags %}
{% block content %}
{% load static %}
<style>
.line{
    width: 100%;
    height: 22px;
    margin-bottom: 20px;
    border-bottom: 2px solid #1277CC;
}
</style>
<hr>
<h5>You are now viewing account number: {{account}}</h5>
<hr>
<div class="card">
        <div class="row">
            <div class="col">
                <h4>Account balance</h4>
                {% if balance <= 0 %}
                <h4 style="color: red;">{{ balance|currency }}</h4>
                {% endif %}
                {% if balance > 0 %}
                <h4 style="color: green;">{{ balance|currency }}</h4>
                {% endif %}
                <!--
                {% if  account.account_name == 'NemKonto' %}
                <p>Deposit amount</p>
                <form action="{% url 'banking_app:account_deposit' %}" method="POST">
                       {% csrf_token %}
                     <label id="accountDeposit" for="deposit">Amount to deposit</label>
                     <input placeholder="Amount 0.0$" type="number" id="deposit" min="1" name="Deposit" >
                    <button type="submit">Submit</button>
                </form>
                {% endif %}-->
            </div>
        </div>
    </div>

        <!-- Staff sees more of the transaction for this account -->
        <h3>Transactions</h3>
        {% for t in transactions %}
        {% for transaction in t %}
        <!--  -->
        {% if request.user.is_staff %}
        {% include "banking_templates/transaction_card.html" %}
        {% endif %}
        {% if request.user.is_staff == False %}
        {% if transaction.account_id == account %}
        {% include "banking_templates/transaction_card.html" %}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if request.user.is_staff %}
        <div class="line"></div>
        {% endif %}
        {% endfor %}


{% endblock %}
